* {
    margin: 0;
    padding: 0;
    color: var(--textColor);
}
:root{
    --backgroundColor: #edf3f3;
    --textColor: rgb(9, 1, 77);
}

.container{
    display: flex;
}
.circle-1, .circle-2, .circle-3, .circle-4 {
    border-radius: 100%;
    background-color: turquoise;
    stroke: black;
}
.first-column {
    background-color: var(--backgroundColor);
    width: 35%;
    height: 100vh;
    display: flex;
    flex-flow: column-reverse;
    align-items: flex-end;
}
.circle-1 {
    width: 35rem;
    height: 35rem;
    margin: 1rem;
    background-image: linear-gradient(to bottom, rgb(248, 61, 4), rgb(228, 224, 3));
}

.second-column {
    background-color: var(--backgroundColor);
    width: 20%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

}

.circle-2 {
    width: 18rem;
    height: 18rem;
    background-image: linear-gradient( to top, rgb(90, 5, 107), rgb(90, 5, 107), rgb(119, 3, 228));
    margin-left: 2rem;
    margin-top: 3rem;
}
.circle-3 {
    width: 12rem;
    height: 12rem;
    background-image: linear-gradient( to top, rgb(15, 80, 88), rgb(25, 241, 248));
    margin-left: 12rem;
    margin-bottom: 9.5rem;
}

.third-column {
    background-color: var(--backgroundColor);
    width: 45%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.circle-4 {
    width: 30rem;
    height: 30rem;
    background-image: linear-gradient(to bottom, rgb(248, 4, 126), rgb(228, 3, 3));
    margin-left: 6rem;
}
.floatingWelcome {
    width: 60%;
    height: 70vh;
    background-color: rgba(194, 183, 183, 0.3);
    position: fixed;
    display: flex;
    align-self: center;
    left: 20%;
    border-radius: 1rem;
    backdrop-filter: blur(2rem);
    box-shadow: -5rem 5rem 5rem rgba(32, 32, 32, 0.6);
}
.newLogin {
    width: 30%;
    height: 80%;
    display: flex;
    background-image: linear-gradient(to bottom, rgb(235, 225, 225), rgb(228, 3, 3, 0.0));
    border-top-left-radius: 1rem;
    flex-flow: column;
    align-items: flex-start;
    padding: 3rem;
}
.loginContainer{
    width: 70%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.createAcountButton{
    color: var(--textColor);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    border-radius: 2px;
    border-radius: 1rem;
    font-size: 1rem;
}
.mediasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
